.scan-box {
  border: 2px solid #fff;
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  content: "";
  display: block;
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.scan-button {
  position: absolute;
  margin: 0px;
  width: 90%;
  height: 40px;
  z-index: 11;
}

.scan-button2 {
  position: absolute;
  margin: 0px;
  width: 90%;
  height: 40px;
  z-index: 11;
}
