#img1{
  width: 300px;
}

#img2{
  width: 300px;
  margin-left: 100px;
}

.contenedor-imagenes {
  display: flex;
  width: 100%;
  margin-left: 10px;

}


.contenedor-imagenes img:first-child {
  margin-right: 10px;
  margin-left: 100px;
  
}



  ion-header {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
  }


  #titulo {
    font-size: 25px;
    color: black;
  }

  ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
      
}

ion-item{
    --padding-bottom: 20px;
    
   
}

ion-label h2{
    font: 1em sans-serif;

}
#imagen {
  
  width: 300px
  
}