<ion-header>
  <ion-toolbar color="secondary">
   <ion-img src="https://cdn.discordapp.com/attachments/962446660816994347/1013992565479063612/unknown.png"  id="imagen"></ion-img>
   <ion-title #titulo class="ion-text-left ion-text" id="titulo">
    <div>Sistema de Asistencia Duoc UC 
    </div>
  </ion-title>
  </ion-toolbar>




  <ion-toolbar>
    <ion-segment value="pizza" (ionChange)="segmentChanged($event)">
      
      <ion-segment-button value="inicio">
        <ion-icon name="home"></ion-icon>
        <ion-label>inicio</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="publicaciones">
        <ion-icon name="home"></ion-icon>
        <ion-label>publicaciones</ion-label>
      </ion-segment-button>
  
  
    </ion-segment>
  </ion-toolbar>
  
</ion-header>
  
  
  
  
  <ion-content > 

    
    <ion-router-outlet>
    
    <!-- aqui contiene los componentes -->
      
    </ion-router-outlet>
  

  </ion-content>
      
 

<!-- eliminar el footer y ver la diferencia -->
<!-- si o si el fondo de la aplicacion sigue como transparente pero en este caso solo se ve una parte transparente, se prueba con el telefono -->
  <ion-footer>
    <ion-button routerLink="">cerrar sesión</ion-button>
    <ion-toolbar color="primary">
      <ion-title #desarrolladores class="ion-text-left ion-text">
        App desarrollada por Claudio Navarro y benjamin Ramirez
      </ion-title>
    </ion-toolbar>
  </ion-footer>

  
  

  
  
  

  
  

